---
import PageLayout from "@/layouts/Base";
import { getAllPosts, getUniqueTagsWithCount } from "@/utils";

import "@/styles/tag.css";

const allPosts = await getAllPosts();
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
  title: "All Tags",
  description: "A list of all the topics I've written about in my posts",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">All Tags</h1>
  <div class="flex flex-row flex-wrap gap-2 p-4 text-sm leading-6 text-slate-600 lg:max-w-xs">
    {
      allTags.map(([tag, val]) => (
        <span class="pill">
          <a class="blog-link inline-block" href={`/tags/${tag}/`} title={`View posts with the tag: ${tag}`} data-astro-prefetch>
            &#35;{tag}
          </a>
          <span class="inline-block">- {val}</span>
        </span>
      ))
    }
  </div>
</PageLayout>
