---
const { name, description, link } = Astro.props;
import { Icon } from "astro-icon/components";
---

<article class="article__container">
  <div class="article__head">
    <a href={link}>
      <h1 class="article__heading">{name}</h1>
    </a>
  </div>
  <div class="article__body">
    <p class="article__description">
      {description}
    </p>
  </div>
  <div class="article__foot">
    <a href={link} class="article__link" target="__blank" rel="noopener noreferrer">check the package</a>
    <Icon name="open">
      <!--<p>Publish Date:</p><span>{date}</span>-->
    </Icon>
  </div>
</article>
